## REST API Libs
fastapi
uvicorn
python-multipart

## Data validation
pydantic
pydantic-settings

## Generative Model
ollama ## Ollama - Local

## Graphics
matplotlib

## TESTS LIBS ##

## Request HTTP
requests
